<template>
  <div class="container p-8 mx-auto bg-color-primario">
    <h1 class="text-xl font-bold text-gray-600">Tailwind 3!</h1>
    <h2 class="text-xl font-bold text-color-accent font-secundario">Tailwind 3!</h2>
    <h2 class="text-2xl font-bold text-gray-600 font-tercertipo">Tailwind 3!</h2>
  </div>
</template>